---
import CallToAction from '../CallToAction/CallToAction.astro';
import Icon from '../Icon/Icon.astro';
---

<aside class="contact-aside">
	<h2>Interested in working together?</h2>
	<CallToAction href="mailto:nandobatoni22@gmail.com">
		Send Me a Message
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>
