---
import Icon from '../Icon/Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer class="layout-footer">
		<p class="flex gap-1">
			Designed & Developed in Brazil with
      <a href="https://astro.build/" class="gap-1">Astro
        <Icon icon="rocket-launch" size="1.2em" />
      </a>
		</p>

		<p>
      &copy; {currentYear} Fernando Batoni Areias
    </p>
</footer>
